<ng-container>
  <div class="sidebar">
  <nav class="sidebar">
    <ul>
      <li>My profile</li>
      <li>My cars</li>
      <li>Fuel and gas station</li>
      <li>Technical inspection</li>
      <li>Сar service</li>
      <li>Calculations</li>
      <li>Car insurance</li>
      <li>Notes</li>
      <li>Call to us</li>
      <li>Settings</li>
      <li (click)="exit()">Exit</li>
    </ul>
  </nav>
</div></ng-container>
<div class="container">
  <div class="container-user">
    <p>user works!</p>
  </div>
</div>
