<footer>
  <div class="container">
    <div class="block6">
      <div class="block6__columns">

        <div class="block6__col">
          <h3 class="block6__h3">Product</h3>
          <a href="#" class="block6__link">iPhone, iPad & Android</a>
          <a href="#" class="block6__link">Widgets</a>
          <a href="#" class="block6__link">Instant answers</a>
          <a href="#" class="block6__link">Inspector</a>
          <a href="#" class="block6__link">Facebook</a>
        </div>
        <div class="block6__col">
          <h3 class="block6__h3">Resources</h3>
          <a href="#" class="block6__link">Success Stories</a>
          <a href="#" class="block6__link">Integration Partners</a>
          <a href="#" class="block6__link">UserCentered</a>
          <a href="#" class="block6__link">Developer Docs</a>
          <a href="#" class="block6__link">Knowledge base</a>
        </div>
        <div class="block6__col">
          <h3 class="block6__h3">Other</h3>
          <a href="#" class="block6__link">Feedback forum</a>
          <a href="#" class="block6__link">System status</a>
          <a href="#" class="block6__link">Security and compliance</a>
          <a href="#" class="block6__link"> Terms of Service</a>
          <a href="#" class="block6__link">Blog</a>
        </div>
        <div class="block6__col lastcol">
          <h3 class="block6__h3">Newsletter</h3>
          <p class="lastcol__p">Subscribe to our newsletter! Get productivity tips,
            product updates and special offers!</p>
          <div class="lastcol__forms">
            <input type="email" class="lastcol__input" name="email" id="emailfooter" placeholder="Your e-mail address">
            <button type="submit" class="lastcol__btn">Subscribe</button>
          </div>
        </div>
      </div>
      <div class="footer"><p class="footer__p">© All rights reserved 2014. Xyz Inc.</p>
      </div>
    </div>
  </div>
</footer>
