  <div class="bg_container1">
    <div class="container container__main">
      <div class="block_one">
        <div class="block1_h1">
          <h1 class="main__text">Customer service for a connected world.</h1>
        </div>
        <div class="block1_p">
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fau-<br>cibus augue id dapibus ultricies. Morbi venenatis</p>
        </div>
        <div class="btn">
          <input type="button" value="Try It Free Now">
          <input type="button" value="Learn More">
        </div>
      </div>
    </div>
  </div>
  <div class="bg_container2">
    <div class="container container__main">
      <div class="block_two">
        <div class="blocktwo__text">
          <div class="block2_h2">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
          </div>
          <div class="block2_p">
            <p>Nullam laoreet nibh in lectus laoreet, vitae laoreet libero condimentum. Suspendisse iaculis eros sed risus luctus venenatis</p>
          </div>
        </div>
        <div class="notbook"></div>
      </div>
    </div>
  </div>
  <div class="bg_container3">
    <div class="container">
      <div class="block3">
        <div class="block3-title">
          <h3 class="block3-title__h3">Lorem ipsum dolor sit amet</h3>
          <p class="block3-title__p">Quisque vel tellus accumsan, porttitor metus vitae, consectetur felis</p>
        </div>
        <div class="block3-card">
          <div class="block3-card__item">
            <div class="block3-card__item__img"></div>
            <h4 class="block3-card__item__h4">Lorem ipsum dolor</h4>
            <p class="block3-card__item__p">Morbi venenatis, nulla at accumsan fermentum, risus ligula vehicula justo</p>
            <button class="block3-card__item__button">Learn More</button>
          </div>
          <div class="block3-card__item">
            <div class="block3-card__item__img"><i class="bi bi-chat-right-text"></i></div>
            <h4 class="block3-card__item__h4">Lorem ipsum dolor</h4>
            <p class="block3-card__item__p">Morbi venenatis, nulla at accumsan fermentum, risus ligula vehicula justo</p>
            <button class="block3-card__item__button">Learn More</button>
          </div>
          <div class="block3-card__item">
            <div class="block3-card__item__img"></div>
            <h4 class="block3-card__item__h4">Lorem ipsum dolor</h4>
            <p class="block3-card__item__p">Morbi venenatis, nulla at accumsan fermentum, risus ligula vehicula justo</p>
            <button class="block3-card__item__button">Learn More</button>
          </div>
          <div class="block3-card__item">
            <div class="block3-card__item__img"></div>
            <h4 class="block3-card__item__h4">Lorem ipsum dolor</h4>
            <p class="block3-card__item__p">Morbi venenatis, nulla at accumsan fermentum, risus ligula vehicula justo</p>
            <button type="button" name="Learn More" class="block3-card__item__button">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg_container4">
    <div class="container">
      <div class="block4">
        <h3 class="block4__h3">Lorem ipsum dolor sit amet</h3>
        <div class="block4__block">
          <div class="block4__col">
            <div class="block4__title">Morbi venenatis, nulla at accumsan fermentum, risus ligula vehicula justo, a dapibus arcu purus et arcu</div>
            <div class="block4__staff">
              <div class="block4__photo"></div>
              <div class="block4__who">Director Engineering, <a href="#" class="block4__link">@Jon Doe</a></div>
            </div>
          </div>
          <div class="block4__col">
            <div class="block4__title">Morbi venenatis, nulla at accumsan fermentum, risus ligula vehicula justo, a dapibus arcu purus et arcu</div>
            <div class="block4__staff">
              <div class="block4__photo"></div>
              <div class="block4__who">Director Engineering, <a href="#" class="block4__link">@Jon Doe</a></div>
            </div>
          </div>
          <div class="block4__col">
            <div class="block4__title">Morbi venenatis, nulla at accumsan fermentum, risus ligula vehicula justo, a dapibus arcu purus et arcu</div>
            <div class="block4__staff">
              <div class="block4__photo"></div>
              <div class="block4__who">Director Engineering, <a href="#" class="block4__link">@Jon Doe</a></div>
            </div>
          </div>
        </div>
        <div class="block4__galery">
          <div class="block4__radiobtn">
            <div class="block4__btngal checked"></div>
            <div class="block4__btngal"></div>
            <div class="block4__btngal"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg_container5">
    <div class="container">
      <div class="block5">
        <h2 class="block5__h2">Lorem ipsum dolor sit amet, consectetur</h2>
        <p class="block5__p">Nullam laoreet nibh in lectus laoreet, vitae laoreet libero condimentum</p>
        <button type="button" class="block5__btn">Try it Free now</button>
      </div>
    </div>
  </div>

